body {
	font-family: 'Roboto', sans-serif;
	transition: all 0.15s ease-in-out;
}

.bad-form {
	border-width: 1.4px;
	border-color: #da0000;
}

form {
	margin: 0;
}

.small-pad {
	padding-left: 10px;
	padding-right: 10px;
}

.btn-primary {
	background-color: #191970;
	border-color: #191970;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
	background-color: #14145b;
	border-color: #101046;
}
.btn-primary.disabled:hover,
.btn-primary.disabled:focus,
.btn-primary.disabled:active,
.btn-primary.disabled.active,
.btn-primary[disabled]:hover,
.btn-primary[disabled]:focus,
.btn-primary[disabled]:active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary:hover,
fieldset[disabled] .btn-primary:focus,
fieldset[disabled] .btn-primary:active,
fieldset[disabled] .btn-primary.active {
	background-color: #191970;
	border-color: #191970;
}

.btn-secondary {
	background-color: #fc0;
	border-color: #fc0;
	color: #191970;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active,
.btn-secondary.active {
	background-color: #e6b800;
	border-color: #cca300;
}
.btn-secondary.disabled:hover,
.btn-secondary.disabled:focus,
.btn-secondary.disabled:active,
.btn-secondary.disabled.active,
.btn-secondary[disabled]:hover,
.btn-secondary[disabled]:focus,
.btn-secondary[disabled]:active,
.btn-secondary[disabled].active,
fieldset[disabled] .btn-secondary:hover,
fieldset[disabled] .btn-secondary:focus,
fieldset[disabled] .btn-secondary:active,
fieldset[disabled] .btn-secondary.active {
	background-color: #fc0;
	border-color: #fc0;
}

.jolt-logo--grey {
	fill:#fff
}

.jolt-logo--blue,
.jolt-logo--teal {
	fill:#43b0f2
}

.jolt-logo--yellow {
	fill:#fc0
}


#top-box {
	position: relative;
}


.header{position:absolute;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;width:100%;margin-right:auto;margin-left:auto;padding:30}

@media screen and (max-width:1024px){.header{box-sizing:border-box;padding:0 1em;padding-top:20}}

@media screen and (max-width:768px){.header{display:block}}

.jolt-logo-box{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center}

@media screen and (max-width:1024px){.jolt-logo-box{-ms-flex-wrap:wrap;flex-wrap:wrap}.jolt-logo-box:before{content:"";width:100%;-webkit-box-ordinal-group:2;-ms-flex-order:1;order:1}}

@media screen and (max-width:768px){.jolt-logo-box{-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}}

@media screen and (max-width:768px){.about-link{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;margin-top:.3em}}

.jolt-logo{display:block;height:50px}

@media screen and (max-width:768px){.jolt-logo{height:40px}}