@import 'header-constants';
@import 'colors';

header {
	&#tools{
		background-color: $pale-blue;
		font-weight: 300;
		@media screen and (min-width:$screen-med){
			top: $nav-big-height;
		}
		@media screen and (max-width:$screen-med){
			top:$nav-small-height;
		}
		.header-container {
			padding-top: $small-padding;
			padding-bottom: $small-padding;
			@media screen and (max-width:$screen-med){
				display:block;
				text-align:center;
			}
		}
	}
}

@media screen and (max-width:$screen-med){
	.big-only {
		display:none;
	}
}

.shrink + #tools {
	@media screen and (min-width:$screen-med){
		top: $nav-small-height;
	}
	@media screen and (max-width:$screen-med){
		top:$nav-tiny-height;
	}
}

.tool {
	@media screen and (max-width:$screen-med){
		@include justify-center();
	}
}

#view-toggle {
	@media screen and (max-width:$screen-med){
		margin-top: 5px;
	}
}

.date {
	font-weight: 900;
}