:export {
  headerHeightBig: 140px;
  headerHeightSmall: 104px;
  headerHeightShrinkBig: 110px;
  headerHeightShrinkSmall: 96px;
  screenMed: 768px;
}

header#tools {
  background-color: #e6f5ff;
  font-weight: 300;
}

@media screen and (min-width: 768px) {
  header#tools {
    top: 90px;
  }
}

@media screen and (max-width: 768px) {
  header#tools {
    top: 60px;
  }
}

header#tools .header-container {
  padding-top: 10px;
  padding-bottom: 10px;
}

@media screen and (max-width: 768px) {
  header#tools .header-container {
    display: block;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .big-only {
    display: none;
  }
  .tool {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .shrink + #tools {
    top: 60px;
  }
}

@media screen and (max-width: 768px) {
  .shrink + #tools {
    top: 52px;
  }
}

@media screen and (max-width: 768px) {
  #view-toggle {
    margin-top: 5px;
  }
}

.date {
  font-weight: 900;
}

.section-bar {
  width: 100%;
  background-color: #191970;
  color: white;
  text-align: center;
  padding: 10 calc(5vw + 20px);
  z-index: 50;
  position: relative;
}

.section-bar.two-pane-on {
  display: flex;
  justify-content: space-between;
}

.section-bar.fixed {
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  z-index: 0;
}

@media screen and (min-width: 768px) {
  .section-bar.fixed {
    top: 140px;
  }
}

@media screen and (max-width: 768px) {
  .section-bar.fixed {
    top: 104px;
  }
}

.section-bar.fixed.absolute {
  position: absolute;
}

.section-bar > p {
  margin: 0;
  padding: 0;
  font-size: 1.3rem;
}

@media screen and (min-width: 768px) {
  #nav.shrink ~ .main .section-bar.fixed {
    top: 110px;
  }
}

@media screen and (max-width: 768px) {
  #nav.shrink ~ .main .section-bar.fixed {
    top: 96px;
  }
}

.section-content {
  display: flex;
  flex-wrap: wrap;
}

.section-content .item {
  width: 50%;
  padding: 20;
  box-sizing: border-box;
  text-align: justify;
}

.section-content .item:nth-of-type(4n-1), .section-content .item:nth-of-type(4n) {
  background-color: #e6f5ff;
}

.section-content .item.right {
  padding-right: calc(5vw + 20px);
}

.section-content .item.left {
  padding-left: calc(5vw + 20px);
}

.section-content .item.markup .add {
  color: green;
  text-decoration: underline;
  font-weight: bold;
  padding: 0 3px;
}

.section-content .item.markup .delete {
  color: red;
  text-decoration: line-through;
  font-weight: bold;
  padding: 0 3px;
}

.section-content .item.after .delete {
  display: none;
}

.section-content .item.before .add {
  display: none;
}

.section-content .item.full-width {
  width: 100%;
  padding: 20;
}

@media screen and (min-width: 768px) {
  .section-content .item.full-width {
    padding: 20 25%;
  }
}

.dropdown {
  width: 120px;
  z-index: 75;
}

.hidden {
  display: none;
}
/*# sourceMappingURL=diff.css.map */