@import 'header-constants';
@import 'colors';

header {
	&#tools{
		background-color: $pale-blue;
		font-weight: 300;
		@media screen and (min-width:$screen-med){
			top: $nav-big-height;
		}
		@media screen and (max-width:$screen-med){
			top: $nav-small-height;
		}
		.header-container {
			padding-top: $small-padding;
			padding-bottom: $small-padding;
			@media screen and (max-width:$screen-med){
				display:block;
				text-align:center;
			}
		}
	}
}

@media screen and (max-width:$screen-med){
	.big-only {
		display: none;
	}

	.tool {
		@include justify-center();
	}
}

.shrink + #tools {
	@media screen and (min-width:$screen-med){
		top: $nav-small-height;
	}
	@media screen and (max-width:$screen-med){
		top: $nav-tiny-height;
	}
}

#view-toggle {
	@media screen and (max-width:$screen-med){
		margin-top: $toggle-small-margin;
	}
}

.date {
	font-weight: 900;
}

.section-bar {
	width: 100%;
	background-color: $jolt-blue;
	color: white;
	text-align: center;
	padding: 10 0 10 0;
	z-index: 50;
	position: relative;

	&.fixed {
		position: fixed;
		width: 100%;
		box-sizing: border-box;
		z-index: 0;

		@media screen and (min-width:$screen-med){
			top: $header-ht-big;
		}
		@media screen and (max-width:$screen-med){
			top: $header-ht-small;
		}

		&.absolute {
			position: absolute;
		}
	}

	> p {
		margin: 0;
		padding: 0;
		font-size: 1.3rem;
	}
}

#nav.shrink ~ .main {
	.section-bar.fixed {
		@media screen and (min-width:$screen-med){
			top: $header-ht-shrink-big;
		}
		@media screen and (max-width:$screen-med){
			top: $header-ht-shrink-small;
		}
	}
}

.section-content {
	display: flex;
	flex-wrap: wrap;
	.item {
		width: 50%;
		padding: 20;
		box-sizing: border-box;
		text-align:justify;
		&:nth-of-type(4n-1),
		&:nth-of-type(4n) {
			background-color: #e6f5ff;
		}
		&.right {
			padding-right: calc(5vw + 20px);
		}
		&.left {
			padding-left: calc(5vw + 20px);
		}
		.add {
			color: green;
			text-decoration: underline;
			font-weight: bold;
			padding: 0 3px;
		}
		.delete {
			color: red;
			text-decoration: line-through;
			font-weight: bold;
			padding: 0 3px;
		}
		&.full-width {
			width:100%;
			padding: 20;

			@media screen and (min-width:$screen-med){
				padding: 20 25%;
			}
		}
		&.hidden {
			display:none;
		}
	}

}
