label {
	display:none;
}

#search-form {
	text-align:center;
	border-radius: 5px;
	background-color: rgba(236, 247, 254, 0.95);
	border-color: #191970;
	border-width: 1px;
	border-style: solid;
	padding: 40 50 40 50;
	position: absolute;
	top: 50%;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
}

.bad-form {
	border-width: 1.4px;
	border-color: #da0000;
}

.error {
	text-align: center;
}

.error p {
	margin-top: .5rem;
	margin-bottom: 0;
	color: #da0000;
	font-size: .8rem;
}

#title-box {
	position: absolute;
	z-index: 2;
	display: block;
	background: transparent;
	color: white;
	text-align: center;
	width: 100%;
	top: 30%;
}

#top-box {
	position: relative;
}

.header{position:absolute;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;width:100%;margin-right:auto;margin-left:auto;padding:30}

@media screen and (max-width:1024px){.header{box-sizing:border-box;padding:0 1em;padding-top:20}}

@media screen and (max-width:768px){.header{display:block}}

.jolt-logo-box{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center}

@media screen and (max-width:1024px){.jolt-logo-box{-ms-flex-wrap:wrap;flex-wrap:wrap}.jolt-logo-box:before{content:"";width:100%;-webkit-box-ordinal-group:2;-ms-flex-order:1;order:1}}

@media screen and (max-width:768px){.jolt-logo-box{-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}}

@media screen and (max-width:768px){.about-link{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;margin-top:.3em}}

.jolt-logo{display:block;height:50px}

@media screen and (max-width:768px){.jolt-logo{height:40px}}

.angle {
	height: 80%;
}

#angle-image {
	background-image: url('/static/img/Circuit.png');
	background-color: #191970;
	background-size: 400px;
	width: 1224px;
	height: 512px;
	background-position: 0 0;
}
@media (min-width: 1440px) {
	#angle-image { background-size: 300px; }
}
