{% extends "base.html" %}
{% from 'jolt-logo.html' import logo %} {% from 'header.html' import header %}
{% block content %}

<link rel="stylesheet" type="text/css" href="/static/css/about.css">

{{ header('ABOUT') }}
<div class="about-box">
	<div class="container about-text">
		<h1>About</h1>

		<h3>About JOLTHacks</h3>
		<p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Maecenas euismod nulla nec leo egestas scelerisque. Phasellus consectetur est sagittis augue elementum scelerisque. Etiam cursus lacinia sodales. Phasellus ullamcorper posuere est, non pellentesque elit. Pellentesque laoreet tempor sem, sed bibendum justo molestie sit amet. Etiam eget pulvinar metus, id cursus metus. Aenean convallis odio at gravida pharetra. Proin finibus diam neque, eget mattis lacus commodo non.</p>
		<p>Nam augue enim, aliquet non arcu vel, porttitor ultricies ipsum. Duis eleifend diam eu justo gravida rhoncus. Vivamus gravida nisl in metus congue, sollicitudin eleifend tortor rutrum. Vivamus commodo, lacus non molestie porttitor, massa purus sodales lorem, a eleifend leo nisl sollicitudin arcu. Praesent dignissim feugiat nisl ut finibus.</p>

		<h3>Source Code</h3>
		<!-- GITHUB LINKS -->
		<p>Before using our code in your own projects, please be sure to read <a href="/static/LICENSE.txt">our license</a>.</p>

		<a name="cookies"><h3>Cookie Policy</h3></a>
		<p>This website stores cookies that describe what settings you prefer when viewing statute redlines. For instance, do you prefer viewing the old version vs. the markup version, the markup version vs. the new version, or the old version vs. the new version? This website also stores cookies that describe whether you have acknowledged our cookie policy.</p>

	</div>

</div>

{% endblock %}
