{% extends "base.html" %}
{% from 'jolt-logo.html' import logo %} {% from 'header.html' import header %}
{% block content %}

<link rel="stylesheet" type="text/css" href="/static/css/about.css">

{{ header() }}
<div class="about-box">
	<div class="container about-text">
		<h1>About</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non luctus nisi. Proin ut gravida augue. Fusce consectetur sodales dapibus. Cras sed aliquam ante. Maecenas sed massa justo. Phasellus eget nibh molestie, fringilla quam non, ullamcorper nisl. Aenean facilisis ullamcorper lectus.</p>

		<p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Maecenas euismod nulla nec leo egestas scelerisque. Phasellus consectetur est sagittis augue elementum scelerisque. Etiam cursus lacinia sodales. Phasellus ullamcorper posuere est, non pellentesque elit. Pellentesque laoreet tempor sem, sed bibendum justo molestie sit amet. Etiam eget pulvinar metus, id cursus metus. Aenean convallis odio at gravida pharetra. Proin finibus diam neque, eget mattis lacus commodo non.</p>
		
		<p>Nam augue enim, aliquet non arcu vel, porttitor ultricies ipsum. Duis eleifend diam eu justo gravida rhoncus. Vivamus gravida nisl in metus congue, sollicitudin eleifend tortor rutrum. Vivamus commodo, lacus non molestie porttitor, massa purus sodales lorem, a eleifend leo nisl sollicitudin arcu. Praesent dignissim feugiat nisl ut finibus.</p>
	</div>
		
</div>

{% endblock %}