<html>
    <head>
        <title>JOLTHacks</title>
        <script src="/static/js/jquery-3.2.1.min.js"></script>
        <script src="/static/js/npm.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-theme.min.css">
        <link rel="stylesheet" type="text/css" href="/static/css/button-toggle.css">
    </head>
    <body>
        <h1>Welcome to JOLTHacks</h1>
        {% block content %}{% endblock %}
    </body>
</html>