{% extends "base.html" %}
{% from 'jolt-logo.html' import logo %} {% from 'header.html' import header %}
{% block content %}

<link rel="stylesheet" type="text/css" href="/static/css/diff.css">
<script src="/static/js/diff.js"></script>
<script src="/static/js/multiStickyBar-compiled.js"></script>

{{ header() }}

<header id="tools">
	<div class="header-container">
		<div class="tool">
			<span class="big-only">Versions effective on </span><span class="date">{{ startDate }}</span> and <span class="date">{{ endDate }}</span>
		</div>
		<div class="tool" id="view-toggle">
			<!-- toggle switch -->
			<button type="button" class="btn btn-toggle active" data-toggle="button" aria-pressed="true" autocomplete="off">
				<div class="handle"></div>
			</button>
		</div>
	</div>
</header>

<div class="main">
	{% for content in diffs %}
	<div class="section-bar">
		<p>{{ title}} U.S.C. &sect; {{ content.section }}</p>
	</div>
	<div class="section-content">
		THIS IS SOME TEXT
	</div>
	{% endfor %}
</div>


{% endblock %}
