{% extends "base.html" %}
{% from 'jolt-logo.html' import logo %} {% from 'header.html' import header %}
{% block content %}

<link rel="stylesheet" type="text/css" href="/static/css/diff.css">
<script src="/static/js/diff-compiled.js"></script>
<script src="/static/js/multiStickyBar-compiled.js"></script>

{{ header() }}

<header id="tools">
	<div class="header-container">
		<div class="tool">
			<span class="big-only">Versions effective on </span><span class="date">{{ startDate }}</span> – <span class="date">{{ endDate }}</span>
		</div>
		<div class="tool big-only" id="view-toggle">
			<!-- toggle switch -->
			<button type="button" id="pane-button" class="btn btn-toggle" data-toggle="button" autocomplete="off">
				<div class="handle"></div>
			</button>
		</div>
	</div>
</header>

<div class="main">
	{% for each in diffs %}
	<div class="section-bar">
		<div class="dropdown left big-only">
			<button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
				aria-expanded="false">
				<span class="selection"></span>
			</button>
			<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
				<a class="dropdown-item" data-display="markup" id="leftMarkup">Show Markup</a>
				<a class="dropdown-item" data-display="before" id="leftBefore">{{ startYear }} Version</a>
				<a class="dropdown-item" data-display="after" id="leftAfter">{{ endYear }} Version</a>
			</div>
		</div>
		<p>{{ title }} U.S.C. &sect; {{ each.section }}</p>
		<div class="dropdown right big-only">
				<button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
					aria-expanded="false">
					<span class="selection"></span>
				</button>
				<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
					<a class="dropdown-item" data-display="markup" id="rightMarkup">Show Markup</a>
					<a class="dropdown-item" data-display="before" id="rightBefore">{{ startYear }} Version</a>
					<a class="dropdown-item" data-display="after" id="rightAfter">{{ endYear }} Version</a>
				</div>
			</div>
	</div>
	<div class="section-content">
		{% for clause in each.text %}
				<div class="left item" data-indent= "{{ clause.indentLevel }}">
					{{ clause.markUpContent|safe }}
				</div>
				<div class="right item" data-indent= "{{ clause.indentLevel }}">
					{{ clause.markUpContent|safe }}
				</div>
		{% endfor %}
	</div>
	{% endfor %}
</div>


{% endblock %}
