{% from 'jolt-logo.html' import logo %}

{% macro header(calling_page) %}
<link rel="stylesheet" type="text/css" href="/static/css/header.css">
<script src="/static/js/header.js"></script>

<header>
    <div class="header-container">
        <div class="jolt-logo-box">
            {{ logo() }}
        </div>
        <div class="about-link">
            {% if calling_page == 'ABOUT' %}
              <a href="/">U.S.deCode</a>
            {% else %}
              <a href="/">U.S.deCode</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/about">ABOUT</a>
            {% endif %}
        </div>
    </div>

</header>
{% endmacro %}
