{% extends "base.html" %}
{% from 'jolt-logo.html' import logo %}

{% block content %}

	<link rel="stylesheet" type="text/css" href="/static/css/main.css">
	<script src="/static/js/allSections.js"></script>
	<script src="/static/js/main.js"></script>

	<div id="top-box">
		<div class="header">
			<div class="jolt-logo-box">
				{{ logo() }}
			</div>
			<div class="about-link">
				<a href="/about">ABOUT</a>
			</div>
		</div>
		<div id="title-box">
			<h1>jolthacks я us</h1>
			<h5>This is JOLTHacks.</h5>
		</div>
		<div class="angle">
			<svg width="100%" height="100%" preserveAspectRatio="xMidYMax slice" viewBox="0 0 1224 512">
				<foreignObject clip-path="url(#angle-clip)" width="100%" height="100%">
					<div id="angle-image"></div>
				</foreignObject>
			</svg>

			<svg width="0" height="0">
				<defs>
					<clipPath id="angle-clip" clipPathUnits="userSpaceOnUse">
						<polygon points="0 0 1224 0 1224 425 0 512"></polygon>
					</clipPath>
				</defs>
			</svg>
		</div>
	</div>


	<div class="container" id="search-form">
		<form id="search">
			<!-- labels will be invisible...they're for screen readers & accessibility -->
			<div class="row mb-3">
				<div class="col-sm-6 small-pad">
					<div class="input-group">
						<label for="title">Title:</label>
						<input type="text" name="title" class="form-control validate" id="title" placeholder="Title (e.g. 18)">
						<div class="input-group-append">
							<span class="input-group-text">U.S.C.</span>
						</div>
					</div>
				</div>
				<div class="col-sm-6 small-pad">
					 <div class="input-group">
						 <div class="input-group-prepend">
							 <span class="input-group-text">&sect;</span>
						 </div>
						<label for="section">Section (comma separated ranges, e.g., 1, 5-7):</label>
						<input type="text" name="section" class="form-control validate" id="section" placeholder="Section (e.g., 1, 5-7)">
					</div>
				</div>
			</div>
			<div class="row mb-3">
				<div class="col-sm-6 small-pad">
					<div class="input-group">
						<div class="input-group-prepend">
							<span class="input-group-text">Compare from</span>
						</div>
						<label for="startYear">Start Year (1994 onwards):</label>
						<input type="text" name="startYear" class="form-control year-input validate" id="startYear" placeholder="1994 onwards">
					</div>
				</div>
				<div class="col-sm-6 small-pad">
					<div class="input-group">
						<div class="input-group-prepend">
							<span class="input-group-text">to</span>
						</div>
						<label for="endYear">End Year (2016 default):</label>
						<input type="text" name="endYear" class="form-control year-input validate" id="endYear" value="2016">
					</div>
				</div>
			</div>
			<div class="row mb-3">
				<div class="col-sm-12 small-pad">
					<div id="error"></div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12 small-pad">
					<input type="submit" class="btn btn-primary btn-lg btn-block" value="Compare" id="comp-btn">
				</div>
			</div>
		</form>
	</div>


{% endblock %}
